/* General Styles */
body{

}

p{
    font-family: 'Josefin Slab', serif;
    font-size: 1.4rem;
    color: #481380 !important;
}

h1, h2, h3, .heading-p{
    font-family: 'Unbounded', cursive;
    color: #481380 !important;
    font-weight: 1000;
    font-size: 3rem;
}

h1{
    font-size: 4rem !important;
}

h2{
    font-size: 3rem;
}

h3{
    font-size: 2.5rem;
}

btn-primary, .btn-primary:active, .btn-primary:visited {
  background-color: #481380 !important;
  border-color: #481380 !important;
  color: #ffffff !important;
}

.btn-primary:hover{
  background-color: #4a36b2 !important;
  border-color: #4a36b2 !important;
}

.heading-p, .headesc{
    text-align: right;
}

.btn{
    font-size: 0.95rem !important;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 300 !important;
    text-align: center !important;
}


.bodyborder{
    border-style: none;
    border-top-style: dotted !important;
    border-color: #481380 !important;
    border-width: 0.8rem !important;
    width: 10%;
    background-color: white;
    text-align: center !important; 
    padding-bottom: 5%;
}
/* Intro Section*/

#intro{
    background-color: #ffffff;
    color: #481380;
}

.navbar{
}

.navbar a{
    color: #481380;
}

.nav-link{
    font-family: 'Josefin Slab', serif !important;
    font-size: 1.3rem !important;
    text-decoration: none !important;
}

.navbar-toggler{
    color: #481380;
}
.nav-img{
    height: 2rem;
    width: 2rem;
}
.navbar-brand{
    font-family: 'Carter One', cursive;
    font-size: 1.7rem !important;
    font-weight: bold;
    text-decoration: none;
    color: #481380;
}

ul{
    /* margin-left: 25rem; */
}

.base{
    padding: 3%;
}

.contain{
    padding: 6% 5%;
}

.btn-outline-light{
    color: #481380;
}

.welcomeimg{
    height: 70%;
    width: 70%;
    /* margin-left: 1rem !important; */
}

.btn-row{
    text-align: center !important;
}

.span1{
    color: #39B5E0;
}

.span2{
    text-decoration: underline;
    color: #F49D1A;
}
/* Features Section */

.feat{
    text-align: center;
}

.feat-header2{
    text-align: center;
    color: #481380;
    font-size: 2.4rem;
    font-family: 'Unbounded', cursive;
}
.featsubb{
    text-align: center;
    color: #481380;
}

.feat1, .feat2, .feat3{
    padding-bottom: 3rem;
}

.feat-head1, .feat-head2, .feat-head3 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #481380 !important;
    text-align: right;
}

.featdesc{
    text-align: right;
}

.feat-head2{
    color: #39B5E0 !important;
 }

.feat-head3{
    color: #F49D1A !important;
}

.featimg{
    border-radius: 5%;
    width: 90%;
    height: 90%;
}

.learnlink{
    text-align: right !important;
    font-family: 'Raleway', sans-serif;
    font-size: 1.1rem;
    margin-left: 27rem !important;
}

.learnlink:hover{
    color: #4a36b2;
}

.droptext{
    font-size: 1.7rem !important;
    color:  #481380  !important;
}

.dropbtn{
    border-color: #645CBB!important;
    color: #645CBB !important;
}

.dropbtn:hover{
    color: #ffffff !important;
}

.droptext:hover{
    color:#3C79F5!important;
    border-color: #3C79F5!important;
}

.featimg-2{
    width: 90%;
    height: 90%;
}

.feat-caption1{
    font-size: 1.3rem !important;
    font-family: 'Unbounded', cursive;
    color: #10A19D;
}

.feat-caption2{
    font-size: 1.4rem !important;
    font-family: 'Unbounded', cursive;
    color:  #F49D1A 
}

.feat-caption3{
    font-size: 1.4rem !important;
    font-family: 'Unbounded', cursive;
    color: #DC0F4C;
}

.feat-caption4{
    font-size: 1.4rem !important;
    font-family: 'Unbounded', cursive;
    color: #39B5E0;
}

.featdesc-1{
    font-size: 1.15rem;
}


.learn1{
    background-color: #92E3A9 !important;
    color: white !important;
}

.learn1:hover{
    background-color:  white  !important;
    color:#92E3A9 !important;
    border-color: #92E3A9 !important;
}

.learn2{
    background-color: #F49D1A !important;
    color: white !important;
}

.learn2:hover{
    background-color: white !important;
    color: #F49D1A !important;
    border-color: #F49D1A !important;
}

.learn3{
    background-color: #DC0F4C !important;
    color: white !important;
}

.learn3:hover{
    background-color: white !important;
    color: #DC0F4C !important;
    border-color: #DC0F4C !important;
}

.learn4{
    background-color: #39B5E0 !important;
    color: white !important;
}

.learn4:hover{
    background-color: white !important;
    color: #39B5E0 !important;
    border-color: #39B5E0 !important;
}

/* Price Section */

.p-card1, .p-card2, .p-card3, .p-card4{
    text-align: center;

}

.fa-circle-check {
    color: #10A19D;
}

.priceborder{
    width: 80%;
}

.pricehead{
    text-align: center;
    font-size: 2.6rem !important;
}

.pricesub{
    text-align: center;
}

.card-title{
    font-family: 'Raleway', cursive;
    font-size: 1.8rem;
}

.card-subtitle{
    font-size: 1.3rem;
}

.temporarysub{
    font-size: 1.1rem;
}

.pricebtn{
    width: 50%;
}

.bigger{
    width: 40%;
    font-size: 1.3rem !important;
}



/* About Section */

.about{
    background-color: #ffffff;
    text-align: center;
    color: #481380 ;
    font-style: normal !important;
}

.teamimg1, .teamimg2, .teamimg3{
    border-radius: 50%;
    width: 12%;
    height: 12%;
    background-color: rgb(124, 122, 122);
}

.abthead{
    font-family: 'Unbounded', cursive;
    font-size: 2.8rem !important;
    font-weight: 500;

}

.member{
    font-family: 'Raleway', cursive;
    font-size: 1.6rem;
}

.member-sub{
    font-family: 'Josefin Slab', serif;
    font-size: 1.1rem;
}

.contact{
    font-family: 'Livvic', cursive;
    font-size: 1.3rem;
}



/* CTA Section */
#cta{
     background: url(../media/bg.png);
}

.cta{
    color: white !important;
    font-style: normal;
    text-align: center;
    padding-bottom: 0 !important;
    padding-left: 2% !important;
    padding-top: 2%;
}

.ctahead{
    margin-top: 2.8rem !important;
    font-size: 3rem !important;
}

 .ctahead, .cta-sub{
    color: #ffffff !important;
    text-align: right;
 }

.campimg{
    margin-top: 2.8rem !important;
    width: 700px;
    height: 600px;
}

.copyright{
    color: #ffffff !important;
    font-size: 1.2rem;
    padding-top: 1rem;
}

.footerlogo{
    color: #ffffff !important;
    font-size: 1.1rem !important;
    margin: 1.5rem 0.3rem;
}

.foot{
    font-style: normal;
    color: #ffffff !important;
}

.socials{
    text-align: center; 
}

.footerlink{
    color: #ffffff;
    margin-left: 27rem !important;
    font-size: 0.8rem;
}


/* LOGIN */


#login-section{
    text-align: center;
    color: #481380;
}

.passrecover{
    color: #481380;
}

label{
    font-family: 'Raleway', cursive;
    font-weight: 500;
}

.form-text{
    font-family: 'Livvic', cursive;
    font-size: 1rem !important;
    text-align: left;
}

.login-head{
    font-weight: 600;
    font-family: 'Carter One', cursive;
    font-size: 2.6rem;
}

.login-sub, .signup-rem{
   font-family: 'Raleway', cursive;
   font-size: 1rem;
}


/* campFiRe Basic Sign-Up */

.input-group-text, option, .form-select{
    font-family: 'Raleway', cursive;
}

option{
    color: #4a36b2;
}

#signup-basic{
    text-align: center;
    color: #481380;
}

.basic-head{
    font-family: 'Carter One', cursive;
    font-size: 2.4rem;
    font-weight: 600;
}

.form-check{
    color: #481380;
    text-decoration: none;
    font-weight: bold;
    text-align: left !important;
}

.input-group-text{
    color: #481380;

}

form, .s-up-basicdesc{
    padding-top: 5%;
}

.s-up-basicdesc{
    margin-left: 8rem;
}

.basic-terms{
    font-size: 1.15rem;
}


/* BUSINESS1.HTML */

.business1{
    text-align: center;
}

.business-head{
    font-family: 'Carter One', cursive;
    font-size: 2.5rem;
}

.busi-foot1{
    padding-bottom: 2.6rem;
}

/* BUSINESS2.HTML */


.bus2-form{
    color: #481380;
}

.business-sub{
    font-size: 1.8rem;
    padding-bottom: 0;
}


.back-text{
    color: white !important;
    font-size: 0.97rem !important;
    font-family: 'Raleway', cursive;
}

/* BUSINESS3.HTML */

.busi-form3{
    color: #481380;
}

.business3{
    text-align: center
}

/* CAMPFIRE-DETAILS.HTML */

.navbar1{
    padding: 0.1rem;
}

.navbar1 a{
    color: #ffffff !important;
}

.details-body{
    background-color: #645CBB;
    color: #ffffff;
}

.off-head{
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Unbounded', cursive;
    margin-bottom: 0;
    color: #ffffff !important;
}

.off-sub, .plan{
    font-size: 0.9rem;
    margin-bottom: 0;
    color: #ffffff !important;
    font-family: 'Raleway', cursive;
}

.menu{
    background-color: #ECF2FF;
    color: #481380;
}

.set{
    font-size: 1.5rem;
}

.details{
    padding-top: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 0;
    text-align: center;
    background-color: #ffffff;
    height: 600px;
    overflow-y: scroll;
}

.activity-title{
    font-family: 'Unbounded', sans-serif;
    font-weight: bold;
    font-size: 3.5rem;
}

.activity-sub{
   padding-left: 35rem;
   font-weight: 600;
}


.navigation-side a{
    color: #ffffff !important;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 1rem !important;
}

.fa-circle{
    font-size: 1rem;
}

.details h4{
    font-family: 'Raleway', cursive;
    font-size: 1.2rem;
    color: #4a36b2;
    text-decoration: underline;
}

.detail{
    font-size: 3.3rem;
    font-weight: 500;
}

/* CATALOG.HTML */

.catalog{
    padding-top: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 0;
    text-align: left;
    background-color: #ffffff;
    height: 600px;
    overflow-y: scroll;
}

.catalog-body{
    background-color: #645CBB;
    color: #ffffff;
}

.page{
    font-size: 1.2rem !important;
    text-decoration: underline !important;
    color: #481380 !important;
    text-align: left !important;
}

.letter-nav{
    padding-top: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 0;
    text-align: left;
    background-color: #ffffff;
    height: 500px;
    overflow-y: scroll;
}

.cata-head{
    font-family: 'Unbounded', sans-serif;
    font-weight: bold;
    font-size: 3.3rem;
    text-align: center;
}

.cata-sub{
    text-align: center;
}

.suggestions{
    font-size: 1.1rem;
    font-family: 'Unbounded', cursive;
    text-align: center;
}

.suggestion-pill{
    height: 3.5rem !important;
    border-color: #481380 !important;
    border-radius: 1rem !important;
}   

.suggestion-pill p{
    font-size: 0.9rem !important;
    margin-bottom: 0;
    color: #481380 !important;
    padding-top: 2px;
    font-family: 'Raleway', cursive;
}

.new-btn{
    font-size: 1.5rem;
    color: #481380;
}

.A a{
    font-family: 'Livvic', cursive;
    font-size: 1rem;
    text-decoration: none !important;
    color: #481380 !important;
}

.B a{
    font-family: 'Livvic', cursive;
    font-size: 1rem;
    text-decoration: none !important;
    color: #481380 !important;
}

.C a{
    font-family: 'Livvic', cursive;
    font-size: 1rem;
    text-decoration: none !important;
    color: #481380 !important;
}

.camper-namee{
    font-size: 1.2rem !important;
}

/* PROFILE.HTML */

.profile{
    padding-top: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 0;
    text-align: left;
    background-color: #ffffff;
    height: 600px;
    overflow-y: scroll;
}

.profile-body{
    background-color: #645CBB;
    color: #ffffff;
}

.user{
    font-size: 3.3rem !important;
}

.user-socials{
    font-size: 2rem;
}

.username, .contact-info{
    font-family: 'Raleway', cursive;
    font-size: 1.1rem;
    margin-bottom: 0.2rem !important;
    color: #645CBB !important;
}

.indicator{
    font-size: 0.8rem !important;
}

.indicator-head, .est{
    font-family: 'Raleway', cursive;
    text-align: center; 
    font-size: 1.3rem !important; 
    font-weight: 100;
}

.schedule-head{
    font-size: 1.8rem;
    text-align: center;
}

.day{
    padding-top: 1rem;
    font-size: 1.5rem;
    font-family: 'Raleway', cursive;
    font-weight: 600;
    text-align: center;
}

.date{
    text-align: center;
}

.schedule-controls{
    text-align: right;
}

.expand-row{
    padding-top: 2rem;
    padding-bottom: 3rem ;
}

.common p{
    text-align: center;
}

.common-head{
    font-size: 1.3rem;
    text-align: center;
}


.camp-nos, .probability, .availability{
    font-family: 'Livvic', cursive !important;
    font-size: 1.2rem;
}

.camp-nos{
    color: #F49D1A !important;
}


.probability{
    color: #DC0F4C !important;
}

.availability{
    color: #39B5E0 !important;
}


/* NEWCAMP.HTML */

.new-camp{
    padding-top: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 0;
    text-align: left;
    background-color: #ffffff;
    height: 600px;
    overflow-y: scroll; 
}

.newcamp-body{
    background-color: #645CBB;
    color: #ffffff;
}

.new-caption{
    font-family: 'Unbounded', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
}

.new-form{
    color: #481380 !important;
}

.addcamper{
    text-align: center;
}

/* NEWCAMP.HTML */

.recent-body{
    background-color: #645CBB;
    color: #ffffff;
}

.recent{
    padding-top: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 0;
    text-align: left;
    background-color: #ffffff;
    height: 600px;
    overflow-y: scroll;
}   

.recent-head{
    font-family: 'Unbounded', sans-serif;
    font-weight: bold;
    font-size: 3.3rem;
    text-align: center;
}

.recent-sub{
    text-align: center;
}

.filter-stack{
    padding: 0;
}

.recent-form{
    color: #481380;
}

.recent-card{
    text-align: center;
    font-family: 'Raleway', cursive;
}

.actions{
    font-size: 1.2rem !important;
}

.today-head{
    text-align: left;
    text-decoration: underline;
}

.d-head, .t-head, .p-head{
    font-family: 'Raleway', cursive !important;
    font-size: 1rem !important;
    text-decoration: underline;
}

.recent-d{
    color: #3C79F5 !important;
    font-size: 2rem;
}

.recent-t{
    color: #F49D1A !important;
    font-size: 2rem;
}

.place{
    color: #39B5E0 !important;
    font-size: 1.3rem;
}

.actions{
    color: #645CBB !important;
    font-family: 'Raleway', cursive !important;
    font-size: 1rem !important;
}

/* DASHBOARD.HTML */

.dash-body{
    background-color: #645CBB;
    color: #ffffff;
}

.dashboard{
    padding-top: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 0;
    background-color: #ffffff;
    height: 600px;
    overflow-y: scroll;
}

.welcome{
    text-align: center;
}

.welcome-tag{
    font-family: 'Unbounded', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 0.5rem;
    text-align: left !important;
}

.welcome-sub{
    text-align: left !important;
}

.today-card{
    text-align: center;
}

.request-time{
    color: #F49D1A !important;
    font-size: 2rem;
}

.request-duration{
    color: #3C79F5 !important;
    font-size: 2rem;
}

.request-id{
    text-align: left !important;
    font-family: 'Raleway', cursive;
    font-size: 1.1rem;
}

.request-title{
    font-family: 'Livvic', cursive;
    text-decoration: underline;
}

.p-details{
    font-family: 'Raleway', cursive;
    font-size: 1.1rem;
}

/* REQUESTDETAILS.HTML */

.request-body{
    background-color: #645CBB;
    color: #ffffff;
}

.request{
    padding-top: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 0;
    background-color: #ffffff;
    height: 600px;
    overflow-y: scroll;
}

.user-requested{
    font-size: 2.2rem !important;
    padding-right: 2rem;
}

.req-tag{
    font-size: 1.8rem;
}

.camper-add{
    font-size: 1.2rem;
}

.camper-list{
    font-family: 'Raleway', cursive;
    font-size: 1.2rem;
}

.number-span{
    font-weight: 600;
    font-size: 2.2rem;
    font-family: 'Josefin Slab', cursive;
}

.warn{
   font-family: 'Raleway', cursive;
   font-size: 1.1rem;
}

.bri{
   font-family: 'Raleway', cursive; 
   text-align: center;
   text-decoration: underline;
   font-size: 1rem;

}
.request-brief{
    text-align: center;
}

.req-date{
    margin-bottom: 0;
    font-size: 2.8rem !important;
}

.req-time{
    font-size: 2.8rem !important;
    color: #F49D1A !important;
}

.req-duration{
    font-size: 2.8rem !important;
    color: #39B5E0 !important;
}

.place-head{
    font-family: 'Raleway', cursive;
    text-decoration: underline;
    font-size: 1rem;
}








@media (max-width: 990px) {
  
    .intro-img{
        margin-left: 4.3rem !important;
    }

    .heading-p, .headesc{
        text-align: center !important;
   }


    .heading-p{
        font-size: 3rem !important;
        text-align: center !important;
    }

    .featimg{
        width: 70%;
        height: 70%;
    }


    .featdesc, .feat-head1, .feat-head2, .feat-head3{
        text-align: center !important;
    }

    .feat1, .feat2{
        padding-bottom: 0;
    }

    .featdesc, .learnlink{
        margin: 0 !important;
    }
}


